{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container" style="color:red; margin-top: 10vh;">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center mt-5">
          <h1 class="display-4">Erreur de service</h1>
          <p class="lead">Le microservice requis n'est pas disponible pour le moment.</p>
          <p class="lead">Veuillez réessayer ultérieurement.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}