{% extends "base.html" %}

{% load static %}

{% block content %}

<link href="{% static 'forms/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
<link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">

<link href="{% static 'forms/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'forms/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

<link href="{% static 'forms/css/main.css' %}" rel="stylesheet" media="all">



<div class="page-wrapper p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-body">
                <h2 class="title text-center text-primary">FICHE MEDICAL</h2>

                <form method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input class="input--style-1 text-primary fw-bold" disabled type="text" disabled placeholder="NOM" name="nom"
                            value="{{ data.nom }}">
                    </div>
                    <div class="input-group">
                        <input class="input--style-1 text-primary fw-bold" type="text" disabled placeholder="PRENOM"
                            name="prenom" value="{{ data.prenom }}">
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-1 text-primary fw-bold" type="tel" disabled placeholder="AGE"
                                    name="age" value=" {{ data.age }} ">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                {% if data.sexe == 1 %}
                                <input class="input--style-1 text-primary fw-bold" type="text" disabled placeholder="SEXE"
                                    name="sexe" value="MASCULIN">
                                {% else %}
                                <input class="input--style-1 text-primary fw-bold" type="text" disabled placeholder="SEXE"
                                    name="sexe" value="FEMININ">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <input class="input--style-1 text-primary fw-bold" type="email" disabled placeholder="EMAIL" name="email"
                            value="{{ data.email }}">
                    </div>

                    <div class="input-group">
                        <textarea class="input--style-1 text text-primary fw-bold" disabled name="antecedent" id="" cols="60"
                            rows="5" placeholder="  ANTECEDENTS MEDICAUX">  {{ data.antecedent }}</textarea>
                    </div>

                    <div class="input-group">
                        <input class="input--style-1 text-primary fw-bold" type="text" disabled placeholder="PRESCRIPTION 1"
                            name="presc1" value="{{ data.prescription1 }}">
                    </div>

                    <div class="input-group">
                        <input class="input--style-1 text-primary fw-bold" type="text" disabled placeholder="PRESCRIPTION 2"
                            name="presc2" value="{{ data.prescription2 }}">
                    </div>

                    <div class="input-group">
                        <input class="input--style-1 text-primary fw-bold" type="text" disabled placeholder="PRESCRIPTION 3"
                            name="presc3" value="{{ data.prescription3 }}">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/deasactivate.js' %}"></script>
<script src="{% static 'forms/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'forms/vendor/select2/select2.min.js' %}"></script>
<script src="{% static 'forms/vendor/datepicker/moment.min.js' %}"></script>
<script src="{% static 'forms/vendor/datepicker/daterangepicker.js' %}"></script>

<script src="{% static 'forms/js/global.js' %}"></script>

{% endblock content %}