language: generic 

services:
  - docker

before_script:
  - cd GestionPersonnel/  
  - docker-compose up -d

script:
  - docker-compose run web python manage.py test  

after_script:
  - docker-compose down 

notifications:
  email:
    recipients:
      - wilfried.noubissie@facsciences-uy1.cm
    on_success: always
    on_failure: always
